.app {
  height: 100vh;
}

.sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 70px;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.sections::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit-based browsers */
}

.sections > * {
  overflow-y: scroll;
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}
